4Diac.NetForteConfigLoader/.vs/
4Diac.NetForteConfigLoader/ForteConfigurationLoader/.idea/
4Diac.NetForteConfigLoader/ForteConfigurationLoader/.vs/
4Diac.NetForteConfigLoader/ForteConfigurationLoader/bin/
4Diac.NetForteConfigLoader/ForteConfigurationLoader/obj/
4Diac.NetForteConfigLoader/Up2date/bin/
4Diac.NetForteConfigLoader/Up2date/obj/
